<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/main.css">

    <title>Profile</title>
</head>
<body>

    <div class="main">
        <header class="header">
            <a href="profile"><div class="cHeader" style="background-color: lightcoral;">Профиль</div></a>
            <a href="vacancies"><div class="cHeader">Вакансии</div></a>
            <a href="summary"><div class="cHeader">Резюме</div></a>
            <a href="clear"><div class="cHeader">Выход</div></a>

          </header>
        
        <div class="selfInfo">
          <table class="info">
          <tr>
            <td>Фамилия</td>
            <td>{{info["last_name"]}}</td>
          </tr>
          <tr>
            <td>Имя</td>
            <td>{{info["first_name"]}}</td>
          </tr>
          <tr>
            <td>Отчество</td>
            <td>{{info["patronymic"]}}</td>
          </tr>
          <tr>
            <td>Номер телефона</td>
            <td>{{info["phone"]}}</td>
          </tr>
          </table>


        </div>

    </div>
    
</body>
</html>